.editNoteContainer {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  font-size: 1.25rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer > textarea {
  min-height: 500px;
}

button {
  font-size: inherit;
}

.validationError {
  color: hsl(0, 71%, 42%);
}

.deleteBtn {
  background: hsl(0, 58%, 38%);
}
